<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-4">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="display-2 font-italic font-weight-bolder title text-center">BoodschApp</h1>
                    <app-item-input [items]="items" (addItem)="addItem($event)"></app-item-input>
                    <app-list [items]="items" (deleteItem)="deleteItem($event)"></app-list>
                </div>
            </div>
        </div>
    </div>
</div>
